registry=https://pkgs.dev.azure.com/willisustc/_packaging/willisustc/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 8/28/2019.
; begin auth token
//pkgs.dev.azure.com/willisustc/_packaging/willisustc/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiZWY2OWJmNC1hM2ZjLTZiMjQtYmY4Yy1iMjVlYzBkNGY4YTciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjZlNDQxM2QtNzYyNC00ZjhmLWJmYjItOGQ0MjAyZjZlYWQ2Iiwic2lkIjoiYjU4ZTkxODMtMTAxMi00OGViLTk0YjAtM2YwZDQ4MzdlMDg3IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjA2OWZkNmRmLWVkN2EtNGU5MC04NDc2LWY3OTIyNTU5Yjc1ZCIsIm5iZiI6MTU1OTIzMDY5NiwiZXhwIjoxNTY3MDA3Mjk2fQ.eUx_B2gWGki1aCMyLeNQIQMomvGFGKeEmyIzt5zU0N4tCdupAQneLXApXHxwVksYw01OY3SjecFZkEoOlwUn2sOKNej1DoSJK4CgGb7FObKPWZDF_xKw679TziotFxekTZHgwSEMqsK5FqVA7oXN7AYOtxrlmqpfsbl40tdeTBe_sHhI92UFNEPY_Nj2UfUqAis7IpG8Q4Xp-KYRaYcfOB1cMFIp8_5qXK_atHbM5hWu_ENinljKm6MBQtSvZdEKlzf77q-39oGj-QIxYKc6eqn7IETXcsPJY2UgBYsR6pgClQg2-WO-NsJRN2Q8LzrbHKDA6_4M1A5KKMIFYpfW8Q
//pkgs.dev.azure.com/willisustc/_packaging/willisustc/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiZWY2OWJmNC1hM2ZjLTZiMjQtYmY4Yy1iMjVlYzBkNGY4YTciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjZlNDQxM2QtNzYyNC00ZjhmLWJmYjItOGQ0MjAyZjZlYWQ2Iiwic2lkIjoiYjU4ZTkxODMtMTAxMi00OGViLTk0YjAtM2YwZDQ4MzdlMDg3IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjA2OWZkNmRmLWVkN2EtNGU5MC04NDc2LWY3OTIyNTU5Yjc1ZCIsIm5iZiI6MTU1OTIzMDY5NiwiZXhwIjoxNTY3MDA3Mjk2fQ.eUx_B2gWGki1aCMyLeNQIQMomvGFGKeEmyIzt5zU0N4tCdupAQneLXApXHxwVksYw01OY3SjecFZkEoOlwUn2sOKNej1DoSJK4CgGb7FObKPWZDF_xKw679TziotFxekTZHgwSEMqsK5FqVA7oXN7AYOtxrlmqpfsbl40tdeTBe_sHhI92UFNEPY_Nj2UfUqAis7IpG8Q4Xp-KYRaYcfOB1cMFIp8_5qXK_atHbM5hWu_ENinljKm6MBQtSvZdEKlzf77q-39oGj-QIxYKc6eqn7IETXcsPJY2UgBYsR6pgClQg2-WO-NsJRN2Q8LzrbHKDA6_4M1A5KKMIFYpfW8Q
; end auth token
